<ion-view title="AWNotepad Inicia sesión">
    <ion-content>
        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Nombre">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Apellidos">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>

            <button class="button button-positive">
                Nueva cuenta
            </button>
        </div>

    </ion-content>

</ion-view>